{% extends 'base/base.html'%}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Codigo</th>
			<th>Nombre</th>
			
		</tr>
	</thead>

	<tbody>
	{%if object_list %}
	{% for municipio in object_list %}

		<tr>
		
		<td>{{municipio.codigo}}</td>
		<td>{{municipio.nombre}}</td>
				
		<td>
			<a class="btn btn-primary" href="{%url 'municipio:municipio_editar' municipio.codigo%}">Editar</a>

			<a class="btn btn-danger" href="{%url 'municipio:municipio_eliminar' municipio.codigo%}">Eliminar</a>

			<a class="btn btn-default" href="{%url 'municipio:municipio_crear'%}">Nuevo</a>
		</td>

		</tr>
		{% endfor %}

		{% else %}

		<center>
		<h1>No hay registros de municipios</h1>

		<a class="btn btn-default" href="{%url 'municipio:municipio_crear'%}">Nuevo</a>
		</center>

		{% endif %}

	</tbody>
</table>

{% endblock %}
